<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}

<p style="white-space: pre; margin-bottom: 2%"></p>
  
<div class = "playerTypeBox">
  <form style="display: inline" action="statsPage.html" method="get">
  <button class = "playerType" style="background-color: #00001a">Batting</button>
  </form>

  <form style="display: inline" action="PitchingPage.html" method="get">
  <button class = "playerType">Pitching</button>
  </form>

  <form style="display: inline" action="FieldingPage.html" method="get">
  <button class = "playerType">Fielding</button>
  </form>
</div>

    <div class="grid-container">
    <div class="row">
		<div class="col-1">
  <form action="{{ url_for('battingQ') }}" autocomplete="on" method="POST">
<label for="pName">Player Name</label>
    <input style = " width: 100%; padding: 12px 14px;  margin: 4px 0; display: inline-block; border: 1px solid #888; border-radius: 8px; box-sizing: border-box;" type="text" id="pName" name="pName" placeholder="Name..">

<label for="Year">Year (1871-2015)</label>
  <input type="number" name="year" min="1871" max="2015"><br>

    <label for="Teams">Team</label>
    <select id="team" name="team">
    <option value=""></option>
      <option value="Arizona Diamondbacks">Arizona Diamondbacks</option>
      <option value="Atlanta Braves">Atlanta Braves</option>
      <option value="Baltimore Orioles">Baltimore Orioles</option>
      <option value="Boston Red Sox">Boston Red Sox</option>
      <option value="Chicago Cubs">Chicago Cubs</option>
      <option value="Chicago White Sox">Chicago White Sox</option>
      <option value="Cincinnati Reds">Cincinnati Reds</option>
      <option value="Cleveland Indians">Cleveland Indians</option>
      <option value="Colorado Rockies">Colorado Rockies</option>
      <option value="Detroit Tigers">Detroit Tigers</option>
      <option value="Houston Astros">Houston Astros</option>
      <option value="Kansas City Royals">Kansas City Royals</option>
      <option value="Los Angeles Angels of Anaheim">Los Angeles Angels of Anaheim</option>
      <option value="Los Angeles Dodgers">Los Angeles Dodgers</option>
      <option value="Miami Marlins">Miami Marlins</option>
      <option value="Milwaukee Brewers">Milwaukee Brewers</option>
      <option value="Minnesota Twins">Minnesota Twins</option>
      <option value="New York Mets">New York Mets</option>
      <option value="New York Yankees">New York Yankees</option>
      <option value="Oakland Athletics">Oakland Athletics</option>
      <option value="Philadelphia Phillies">Philadelphia Phillies</option>
      <option value="Pittsburgh Pirates">Pittsburgh Pirates</option>
      <option value="San Diego Padres">San Diego Padres</option>
      <option value="San Francisco Giants">San Francisco Giants</option>
      <option value="Seattle Mariners">Seattle Mariners</option>
      <option value="St. Louis Cardinals">St. Louis Cardinals</option>
      <option value="Tampa Bay Rays">Tampa Bay Rays</option>
      <option value="Texas Rangers">Texas Rangers</option>
      <option value="Toronto Blue Jays">Toronto Blue Jays</option>
      <option value="Washington Nationals">Washington Nationals</option>
    </select>

<label for="BA">Batting Average (0.000 - 1.000)</label>
  <select id="average" name="BAvg">
      <option value=""></option>
      <option value="0.000-0.100">0.000 - 0.100</option>
      <option value="0.101-0.200">0.101 - 0.200</option>
      <option value="0.201-0.300">0.201 - 0.300</option>
      <option value="0.301-0.400">0.301 - 0.400</option>
      <option value="0.401-0.500">0.401 - 0.500</option>
      <option value="0.501-0.600">0.501 - 0.600</option>
      <option value="0.601-0.700">0.601 - 0.700</option>
      <option value="0.701-0.800">0.701 - 0.800</option>
      <option value="0.801-0.900">0.801 - 0.900</option>
      <option value="0.901-1.000">0.901 - 1.000</option>
   </select>

   <label for="Hits">Home Runs</label>
   <select id="HomeRuns" name="HR">
      <option value=""></option>
      <option value="0-20">0 - 20</option>
      <option value="21-40">21 - 40</option>
      <option value="41-60">41 - 60</option>
      <option value="61-80">61 - 80</option>
   </select>

   <label for="Hits">Hits</label>
   <select id="Hits" name="hits">
      <option value=""></option>
      <option value="0-50">0 - 50</option>
      <option value="51-100">51 - 100</option>
      <option value="101-150">101 - 150</option>
      <option value="151-200">151 - 200</option>
      <option value="201-250">201 - 250</option>
      <option value="251-300">251 - 300</option>
   </select>

   <label for="RBI">RBI</label>
   <select id="RBI" name="rbi">
      <option value=""></option>
      <option value="0-50">0 - 50</option>
      <option value="51-100">51 - 100</option>
      <option value="101-150">101 - 150</option>
      <option value="151-200">151 - 200</option>
   </select>

   <label for="Steals">Steals</label>
   <select id="Steals" name="steals">
      <option value=""></option>
      <option value="0-30">0 - 30</option>
      <option value="31-60">31 - 60</option>
      <option value="61-90">61 - 90</option>
      <option value="91-120">91 - 120</option>
      <option value="121-150">121 - 150</option>
   </select>

<!-- <label for="Hits">Hits (0-270)</label>
  <input type="number" name="numberOfHits" min="0" max="270"><br>
<label for="HomeRuns">Home runs (0-80)</label>
  <input type="number" name="numberOfHRs" min="0" max="80"><br>
  <label for="RBI">RBI (0-200)</label>
  <input type="number" name="numberOfRBIs" min="0" max="200"><br>
  <label for="Steals">Steals (0-130)</label>
  <input type="number" name="numberOfSteals" min="0" max="130"><br> -->


    <input class = "submission" type="submit" value="Submit">

  </form>
</div>

<div class="col-4" style="background-color: #ccddff">
		<h1> Table </h1>
			<style>table, th, tr, td {
	   				border: 1px solid black;
			}
			table {
    			border-collapse: collapse;
			}
			</style>
			<table>
				<tr>
					{% for attributeName in attributeNames %}
					<th>
					{{ attributeName }}
					</th>
					{% endfor %}
				</tr>
			
					<TBODY>
						{% for tuple in tuples %}
							<tr>
								{% for attribute in tuple %}
								<td>{{ attribute }}</td>
								{% endfor %}
							</tr>
						{% endfor %}
					</TBODY>

			</table>
 </div>
 </div>
</div>

 <p style="white-space: pre; margin-bottom: 5%"></p>

    <footer id="contact">
            <div>
              <p  style="font-size: 15px" class="foot">BaseballHub</p>
              </div>
              <div style="text-align: center">
                <a href=" "
                target="_blank">
                <p class="foot">Contact Us!</p>
              </a> 
    </footer>

  </body>

 {% endblock %}