{% extends "base.html" %}

{% block content %}
	<h1>Query The Database</h1>
	<form action="" method="post" name="Search">
		{{ form.hidden_tag() }}
		<p>
			Query the Database in SQL:<br>
			{{ form.SQL(size=120) }}<br>
		</p>
		<p><input type="submit" value="Search"></p>
		<h1> Table </h1>
			<style>table, th, tr, td {
	   				border: 1px solid black;
			}</style>
			<table>
				<tr>
					{% for attributeName in attributeNames %}
					<th>{{ attributeName }}</th>
					{% endfor %}
				</tr>
				{% for tuple in tuples %}
					<tr>
						<!*{% for attribute in tuple %}
						<tc>{{ attribute }}</tc>
						{% endfor %}
					</tr>
				{% endfor %}

			</table>

	</form>
{% endblock %}