<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset = "utf-8">
  <title> Baseball Hub </title>
  <meta name = "viewport" content = "width=device - width, initial scale = 1.0">

  <link href="styleSheet.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
select {
    width: 100%;
    padding: 12px 14px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #888;
    border-radius: 8px;
    box-sizing: border-box;
}

.submission[type=submit] {
    width: 100%;
    background-color: #0059b3;
    color: white;
    padding: 12px 14px;
    margin: 8px 0;
    border: 1px solid #888;
    border-radius: 8px;
    cursor: pointer;
}

.playerTypeBox{
  width: 25%;
   padding: 20px;
   display: inline-block;
}
.playerType{
  background-color: #000066;
  color: white;
  padding: 12px 14px;
    border: 1px solid #AAA;
    border-radius: 8px;
    margin: 4px 2px;

}

input[type=number]{
    width: 100%;
    padding: 12px 14px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #888;
    border-radius: 8px;
    box-sizing: border-box;
}

.submission[type=submit]:hover {
    background-color: #00264d;
}

.advancedSearch {
  width: 20%;
    border-radius: 8px;
    background-color: #99ccff;
    padding: 20px;
}
</style>

  </head>

<body style="background-color:  #ccddff">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">BaseballHub</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="DBWebsite.html">Home</a></li>
          <li class= "active"><a href="statsPage.html">Check Out Stats!</a></li>
          <li><a href="teamPage.html">Pick Your Team!</a></li>
        </ul>
        <form class="navbar-form navbar-left">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </nav>

<p style="white-space: pre; margin-bottom: 2%"></p>
  
<div class = "playerTypeBox">
  <form style="display: inline" action="statsPage.html" method="get">
  <button class = "playerType" style="background-color: #00001a">Batting</button>
  </form>

  <form style="display: inline" action="PitchingPage.html" method="get">
  <button class = "playerType">Pitching</button>
  </form>

  <form style="display: inline" action="FieldingPage.html" method="get">
  <button class = "playerType">Fielding</button>
  </form>
</div>

    <div class ="advancedSearch">
  <form action="" autocomplete="on">
<label for="pName">Player Name</label>
    <input style = " width: 100%; padding: 12px 14px;  margin: 4px 0; display: inline-block; border: 1px solid #888; border-radius: 8px; box-sizing: border-box;" type="text" id="pName" name="player name" placeholder="Name..">

<label for="Year">Year (1871-2015)</label>
  <input type="number" name="numberOfSteals" min="1871" max="2015"><br>

    <label for="Teams">Teams</label>
    <select id="Team" name="teams">
    <option value="allTeams"></option>
      <option value="Arizona">Arizona Diamondbacks</option>
      <option value="Atlanta">Atlanta Braves</option>
      <option value="Baltimore">Baltimore Orioles</option>
      <option value="Boston">Boston Red Sox</option>
      <option value="Chicago">Chicago Cubs</option>
      <option value="ChicagoW">Chicago White Sox</option>
      <option value="Cincinnati">Cincinnati Reds</option>
      <option value="Cleveland">Cleveland Indians</option>
      <option value="Colorado">Colorado Rockies</option>
      <option value="Detroit">Detroit Tigers</option>
      <option value="Houston">Houston Astros</option>
      <option value="Kansas_City">Kansas City Royals</option>
      <option value="Los_Angeles_Angels">Los Angeles Angels</option>
      <option value="Los_Angeles_Dodgers">Los Angeles Dodgers</option>
      <option value="Miami">Miami Marlins</option>
      <option value="Milwaukee">Milwaukee Brewers</option>
      <option value="Minnesota">Minnesota Twins</option>
      <option value="New_York_Mets">New York Mets</option>
      <option value="New_York_Yankees">New York Yankees</option>
      <option value="Oakland">Oakland Athletics</option>
      <option value="Philadelphia">Philadelphia Phillies</option>
      <option value="Pittsburgh">Pittsburgh Pirates</option>
      <option value="San_Diego">San Diego Padres</option>
      <option value="San_Francisco">San Francisco Giants</option>
      <option value="Seattle">Seattle Mariners</option>
      <option value="St_Louis">St.Louis Cardinals</option>
      <option value="Tampa_Bay">Tampa Bay Rays</option>
      <option value="Texas">Texas Rangers</option>
      <option value="Toronto">Toronto Blue Jays</option>
      <option value="Washington">Washington Nationals</option>
    </select>
  
    <label for="Position">Position</label>
    <select id="Pos" name="positions">
      <option value="AllPositions"></option>
      <option value="Catcher">C</option>
      <option value="firstbase">1B</option>
      <option value="secondbase">2B</option>
      <option value="thirdbase">3B</option>
      <option value="shortstop">SS</option>
      <option value="leftfield">LF</option>
      <option value="centerfield">CF</option>
      <option value="rightfield">RF</option>
      <option value="designatedhitter">DH</option>
      <option value="outfield">OF</option>
   </select>

<label for="BA">Batting Average (0.000 - 1.000)</label>
  <select id="average" name="BAvg">
      <option value="AllAverages"></option>
      <option value="lessThanOneHundred"><=0.100</option>
      <option value="Between100And200">>0.100 and <=0.200</option>
      <option value="Between200And300">>0.200 and <=0.300</option>
      <option value="Between300And400">>0.300 and <=0.400</option>
      <option value="Between400And500">>0.400 and <=0.500</option>
      <option value="Between500And600">>0.500 and <=0.600</option>
      <option value="Between600And700">>0.600 and <=0.700</option>
      <option value="Between700And800">>0.700 and <=0.800</option>
      <option value="Between800And900">>0.800 and <=0.900</option>
      <option value="Between900And1000">>0.900 and <=1.000</option>
   </select>

<label for="HomeRuns">Hits (0-270)</label>
  <input type="number" name="numberOfHits" min="0" max="270"><br>

<label for="HomeRuns">Home runs (0-80)</label>
  <input type="number" name="numberOfHRs" min="0" max="80"><br>

  <label for="RBI">RBI (0-200)</label>
  <input type="number" name="numberOfRBIs" min="0" max="200"><br>

  <label for="Steals">Steals (0-130)</label>
  <input type="number" name="numberOfSteals" min="0" max="130"><br>


    <input class = "submission" type="submit" value="Submit">

  </form>
</div>


 <p style="white-space: pre; margin-bottom: 5%"></p>

    <footer id="contact">
            <div>
              <p  style="font-size: 15px" class="foot">BaseballHub</p>
              </div>
              <div style="text-align: center">
                <a href=" "
                target="_blank">
                <p class="foot">Contact Us!</p>
              </a> 
    </footer>

  </body>
</html>